#menu {
    background-color:    #f7f7f7;
}

#contenido {
    padding-top: 50px;
}

.card {
    margin: 0 auto;
}

.card-body {
    background-color: #f7f7f7;
}

#politicas {
    padding-top: 15px;
    padding-bottom: 15px;
}

#preguntas, #respuesta {
    padding-top: 50px;
    padding-left: 150px;
    padding-right: 150px; 
}

.progress-bar {
    height: 10px;
}

#regresar {
    text-decoration: none;
}

#contenido-pregunta, #contenido-respuesta {
    margin: 0 auto;
}

#deseo {
    background-color: #2a6db3;
    padding-bottom: 3px;
    color: white;
    opacity: 0.5;
    border-radius: 5px;
    text-align: center;
}

#redes {
    color: #2a6db3;
    opacity: 0.8;
}

#eleccion{
    background-color: #2a6db3;
    opacity: 0.8;
}

@media only screen and (max-width: 991px){
    #preguntas, #respuesta {
        padding-left: 0;
        padding-right: 0; 
    }
}

@media only screen and (max-width: 575px){
    #lista-portafolio{
        padding-top: 15px;
    }
}

#text {
    font-family: 'PT Sans', sans-serif;
}

#img-portafolio {
    border-radius: 5px;
}

.card, #carrusel, #img-portafolio {
    box-shadow: 0px 1px 5px 3px rgba(42,109,179,0.35);
    -webkit-box-shadow: 0px 1px 5px 3px rgba(42,109,179,0.35);
    -moz-box-shadow: 0px 1px 5px 3px rgba(42,109,179,0.35);
}