#menu {
    background-color:    #f7f7f7;
}

#contenido {
    padding-top: 10px;
}

.card {
    margin: 0 auto;
}

.card-body {
    background-color: #f7f7f7;
}

#politicas {
    padding-top: 15px;
    padding-bottom: 15px;
}

#preguntas, #respuesta {
    padding-top: 10px;
    padding-left: 150px;
    padding-right: 150px; 
}

.progress-bar {
    height: 10px;
}

#regresar, #regresar1, #regresar2 {
    text-decoration: none;
}

#contenido-pregunta, #contenido-respuesta {
    margin: 0 auto;
}

#deseo, #introduccion, #encabezado {
    background-color: #8fb1d4;
    padding-bottom: 3px;
    color: white;
    border-radius: 5px;
    border: red 2px solid;
    text-align: center;
}

#redes {
    color: #2a6db3;
    opacity: 0.8;
}

#eleccionsi {
    background-color: #3ea91e;
}

#eleccionno {
    background-color:  #a91e1e;
}

#eleccionsi, #eleccionno{
    width: 100%;
    opacity: 0.8;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
}

#p2-op1, #p2-op2, #p2-op3, #p2-op4, #checkbox1 {
    font-size: 20px;
}

.form-check-label {
    font-size: 21px; 
}

@media only screen and (max-width: 991px){
    #preguntas, #respuesta {
        padding-left: 0;
        padding-right: 0; 
    }
    .form-check-label {
        font-size: 15px; 
    }
    
    #p2-op1, #p2-op2, #p2-op3, #p2-op4, #checkbox1 {
        font-size: 15px;
    }
}

@media only screen and (max-width: 575px){
    #lista-portafolio{
        padding-top: 15px;
    }
}

#text, #text1, #text2, #text3, #text4 {
    font-family: 'PT Sans', sans-serif;
}

#img-portafolio {
    border-radius: 5px;
}

.card, #carrusel, #img-portafolio {
    box-shadow: 0px 1px 5px 3px rgba(42,109,179,0.35);
    -webkit-box-shadow: 0px 1px 5px 3px rgba(42,109,179,0.35);
    -moz-box-shadow: 0px 1px 5px 3px rgba(42,109,179,0.35);
}

#progressbar1, #progressbar1 {
    height: 10px;
} 

#doctor, #imc {
    border-radius: 5px;
}

#respuesta1, #respuesta2, #respuesta3 {
    border-radius: 5px;
}

#text1, #text2, #text3, #text4 {
    font-size: 25px;
}

#resultado-imc, #segun {
    font-size: 35; 
    font-family: 'PT Sans', sans-serif;
}